.myresearch-paljo-container {
  margin-left: 20px;
  .myresearch-paljo-sub {
    border-top: 1px solid @gray-lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    .paljo-sub-info {
      width: 50%;
    }
    .paljo-field {
      font-weight: bold;
      width: 30%;
    }
    .paljo-value {
      width: 70%;
      float: right;
    }
  }
}
.paljo-sub-container {
  display: flex;
  border-top: 1px solid @gray-lighter;
  border-bottom: 1px solid @gray-lighter;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  .paljo-image {
    float: left;
    margin-right: 30px;
    width: 30%;
  }
  .paljo-image-info-container {
    width: 70%;
    div {
      margin-bottom: 20px;
    }
    .paljo-image-info {
      width: 35%;
      float: left;
    }
    .paljo-price-type {
      padding: 5px;
    }
    .paljo-additional-info {
      width: 300px;
      height: 100px;
    }
    .paljo-volume-code {
      padding: 5px;
    }
    .volume-code-info {
      font-size: 1.5em;
      margin-left: 10px;
      color: @brand-primary;
    }
  }
}