.myresearch-paljo-container {
  margin-left: 20px;
  .paljo-active-btn, .paljo-expired-btn {
    padding: 10px;
    font-size: 2em;
    border: none;
    &.selected {
      border-top: 5px solid @brand-primary;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
  .change-paljo-id-btn {
    padding: 3px;
    margin-left: 5px;
  }
  .paljo-volume-codes {
    margin-bottom: 10px;
    margin-top: 5px;
    .volume-code-toggle {
      cursor: pointer;
      > .caret {
        transform: rotate(80deg);
        -ms-transform: rotate(80deg);
        -webkit-transform: rotate(80deg);
        -moz-transform: rotate(80deg);
      }
    }
    .paljo-volume-code {
      i {
        cursor: pointer;
      }
      margin-bottom: 7px;
      span {
        display: block;
        font-weight: 400;
        color: @gray-light;
        font-size: 0.9em;
      }
    }
  }
  .save-volume-code {
    margin-right: 5px;
    background-color: @gray-ultralight;
    padding: 5px;
    border: 1px solid @gray-lighter;
    border-radius: 5px;
    width: 250px;
  }
  .finna-nav.finna-nav-tabs {
    font-size: 1.5em;
  }
  .paljo-controls {
    .limit-option-container {
      margin-left: 20px;
    }
    .sort-button, .dropdown, .limit-option-container {
      display: inline;
      margin-right: 5px;
    }
    .paljo-limit {
      display: inline;
    }
  }
  .myresearch-paljo-sub {
    border-bottom: 1px solid @gray-lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    .paljo-cols {
      display: flex;
      @media(max-width: @screen-xs) {
        flex-direction: column;
      }
    }
    .paljo-col {
      display: flex;
      flex-basis: 40%;
      flex-direction: column;
      &.left {
        flex-basis: 25%;
        margin-right: 15px;
        img {
          max-width: 70%;
        }
      }
      &.right {
        flex-basis: 25%;
        align-items: center;
        margin-top: 45px;
        @media(max-width: @screen-xs) {
          align-items: baseline;
          margin-top: 0px;
        }
      }
    }
    .paljo-record-title {
      margin-top: 0px;
      font-size: 1.2em;
      font-weight: normal;
    }
    .paljo-sub-info {
      margin-bottom: 10px;
    }
    .paljo-field {
      font-weight: bold;
    }
    .paljo-value {
      float: right;
      width: 45%;
    }
  }
}
.paljo-sub-container {
  h2 {
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 0px;
  }
  display: flex;
  border-top: 1px solid @gray-lighter;
  border-bottom: 1px solid @gray-lighter;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  .paljo-image {
    float: left;
    margin-right: 30px;
    width: 15%;
  }
  .paljo-flex {
    display: flex;
  }
  .paljo-image-info-container {
    display: flex;
    flex-direction: column;
    div {
      margin-bottom: 20px;
    }
    .paljo-image-info {
      display: flex;
      flex-basis: 40%;
      float: left;
    }
    .paljo-price-type-menu {
      padding: 5px;
      width: 200px;
    }
    .paljo-image-license {
      display: flex;
    }
    .paljo-additional-info {
      width: 250px;
      height: 100px;
    }
    .paljo-volume-code {
      padding: 5px;
    }
    .paljo-code-input {
      display: flex;
      margin-left: 15px;
    }
    .volume-code-info {
      font-size: 1.5em;
      margin-left: 10px;
      color: @brand-primary;
    }
    .paljo-price-info {
      display: flex;
      flex-direction: column;
      .paljo-vat {
        color: @gray-light;
      }
    }
  }
}
.paljo-create-transaction {
  input {
    margin-right: 10px;
  }
  margin: 15px;
}